@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap");
:root {
  --black: #000000;
  --white: #fff;
  --theme: #0058e1;
}

html {
  font-size: 16px;
  font-family: "Poppins";
}

.logo {
  display: flex;
  align-items: center;
}
.logo-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 29.4351px;
  line-height: 44px;
  text-transform: uppercase;
}
.navbar a {
  font-weight: 500;
}
.navbar .nav-btn {
  font-weight: 500;
  padding: 10px 23px;
  border: 1px solid var(--theme);
}
.navbar .nav-btn:hover {
  background-color: var(--theme);
  color: var(--white);
}
.nav-link.drop-down {
  display: flex;
  align-items: center;
  color: var(--black);
  padding: 5px 18px;
}
.hero {
  position: relative;
  height: 80vh;
}
.hero::before {
  content: "";
  display: inline-block;
  background-image: url(../assets/images/hero-bg.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 1200px;
  left: -140px;
}

.hero .hero-header {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
}
.hero .hero-header-title {
  font-weight: 700;
  font-size: 2.875rem;
}
.hero .hero-header-title .highlight {
  color: var(--theme);
}
.hero .hero-header-para {
  font-weight: 400;
  font-size: 1.05rem;
  line-height: 29px;
}
.hero .hero-cta {
  padding: 1.15rem 1.75rem;
  background: var(--theme);
  box-shadow: 0px 2.75954px 51.5115px rgba(0, 0, 0, 0.25);
  border-radius: 14.7176px;
  color: var(--white);
}
.social-logo-boxes .box {
  width: 54px;
  height: 54px;
  border-radius: 10px;
  padding: 4px 10px;
  color: var(--white);
}
.social-logo-boxes .boxOne {
  background-color: #021f75;
}
.social-logo-boxes .boxTwo {
  background: linear-gradient(180deg, #093170 0%, #0058e1 100%);
}
.social-logo-boxes .boxThree {
  background-color: #0058e1;
}
.social-logo-boxes .boxFour {
  background-color: #0058e1;
}
.social-logo-boxes .boxFive {
  background-color: linear-gradient(180deg, #093170 0%, #0058e1 100%);
}
.social-logo-boxes .boxSix {
  background-color: #021f75;
}
.welcome {
  margin-top: 150px;
  position: relative;
}
.welcome .w-content {
  background: var(--theme);
  box-shadow: 0px 0px 56px rgba(0, 0, 0, 0.25);
  border-radius: 18.397px;
  width: 100%;
  height: 1182px;
  padding-top: 550px;
  padding-left: 30px;
  padding-right: 60px;
}
.welcome .w-cover {
  position: absolute;
  width: 90%;
  min-height: 600px;
  z-index: 11;
  left: 50%;
  top: -120px;
  transform: translateX(-50%);
}
.welcome .w-cover .w-cover-img {
  filter: drop-shadow(0px 32px 56px rgba(0, 0, 0, 0.25));
  border-radius: 18.397px;
}
.welcome .w-cover .w-logo {
  position: absolute;
  z-index: 55;
  max-width: 100%;
  border-radius: 50%;
  left: 50%;
  top: -90px;
  transform: translateX(-50%);
  filter: drop-shadow(0px 32px 56px rgba(0, 0, 0, 0.25));
}
.welcome .w-media {
  position: relative;
}
.welcome .w-media .w-media-main {
  max-width: 420px;
  height: auto;
  filter: drop-shadow(-22.9962px 32px 56px rgba(0, 0, 0, 0.5));
  border-radius: 18.397px;
  position: relative;
}
.w-media .company {
  box-shadow: 0px 16.5573px 48.6174px rgba(215, 228, 249, 0);
  border-radius: 9.19848px;
  padding: 5px 5px;
  width: 105px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  z-index: 99;
  position: absolute;
}
.w-media .company1 {
  left: -68.14px;
  top: 426.51px;
  animation: jumpTwo infinite linear 3s;
}
.w-media .company2 {
  left: 160.36px;
  top: 480.53px;
  animation: jumpTwo 2.8s infinite 0.6s linear;
}
.w-media .company3 {
  left: 352.27px;
  top: 343.88px;
  animation: jumpTwo 4s infinite 0.8s linear;
}
.w-media .company4 {
  left: 78.03px;
  top: -23.92px;
  animation: jumpTwo 3.2s infinite 0.2s linear;
}
.w-media .company5 {
  left: -48.75px;
  top: 150.04px;
  animation: jumpTwo 3.5s infinite 0.5s linear;
}
.w-content .w-title {
  font-family: "Poppins";
  color: #ffffff;
  font-weight: 600;
  font-size: 3.25rem;
  line-height: 3.25rem;
}
.w-content .w-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 27px;
  text-align: justify;

  color: rgba(255, 255, 255, 0.75);
}

@keyframes jumpTwo {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40% {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
