@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap");
:root {
  --black: #000000;
  --white: #fff;
  --theme: #0058e1;
}

html {
  font-size: 16px;
  font-family: "Poppins";
}

.logo {
  display: flex;
  align-items: center;
}
.logo-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 29.4351px;
  line-height: 44px;
  text-transform: uppercase;
}
.navbar a {
  font-weight: 500;
}
.navbar .nav-btn {
  font-weight: 500;
  padding: 10px 23px;
  border: 1px solid var(--theme);
}
.navbar .nav-btn:hover {
  background-color: var(--theme);
  color: var(--white);
}
.nav-link.drop-down {
  display: flex;
  align-items: center;
  color: var(--black);
  padding: 5px 18px;
}
.hero {
  position: relative;
  height: 80vh;
}
.hero::before {
  content: "";
  display: inline-block;
  background-image: url(../assets/images/hero-bg.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 1200px;
  left: -140px;
}

.hero .hero-header {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
}
.hero .hero-header-title {
  font-weight: 700;
  font-size: 2.875rem;
}
.hero .hero-header-title .highlight {
  color: var(--theme);
}
.hero .hero-header-para {
  font-weight: 400;
  font-size: 1.05rem;
  line-height: 29px;
}
.hero .hero-cta {
  padding: 1.15rem 1.75rem;
  background: var(--theme);
  box-shadow: 0px 2.75954px 51.5115px rgba(0, 0, 0, 0.25);
  border-radius: 14.7176px;
  color: var(--white);
}
